OPENAI_API_KEY = your-token
HUGGINGFACE_API_KEY = your-token
CRYPTONEWS_API_KEY = your-token
DATABASE_URL = postgresql://your_database_user:your_database_password@your_database_host:your_database_port/your_database_name

PROMPT_FOR_CONTENT_SUMMARY = "Act as a financial Analyst and provide executive summary of the article below. Summary must be brief. Emphasize the main message of the author, and main facts, and overall market sentiment in Conclusion. Please emphasize and identify persons or companies mentioned in the article. Please make a conclusion about either it is bullish signal or bearish. In conclusion use form like that: Conclusion: Bearish or Bullish signal. (and explain why its bullish or bearish using main facts, ideas, companies or personalities used in the text)."
PROMPT_FOR_MASTER_SUMMARY = "Act as a financial Analyst and provide a single executive summary about all texts below. Summary must be brief. Determine and emphasize the main collaborative message of texts, and main facts, and overall market sentiment in Conclusion. Please emphasize and identify persons or companies mentioned in articles. Please make a conclusion about either it is bullish signal or bearish. In conclusion use form like that: Conclusion: Bearish or Bullish signal. (and explain why its bullish or bearish using main facts, ideas, companies or personalities used in the text)."
